* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_box {

    height: 100vh;
    width: 100%;
}

.attribution {
    font-family: 'Hanken Grotesk';
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 2vh;

}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.row {
    height: 35.714vw;
    width: 50.952vw;
    border-radius: 3vw;
    box-shadow: 4px 4px 7px rgba(43, 31, 90, 0.555);
}

.first_box {
    border-radius: 3vw;
    /* padding: 2.762vw 3.85vw; */
    padding: 2.3vw 3.85vw;
    background-color: #5f3ffc;
    height: 100%;
}

.result {

    font-family: 'Hanken Grotesk medium';
    font-size: 2vw;

}

.score_circle {
    border-radius: 50%;
    height: 13.429vw;
    width: 13.429vw;
    background: linear-gradient(to bottom, #4922cc, #5f3ffc);

}

.great_text {
    font-family: 'Hanken Grotesk ExtraBold';
    margin-top: 1.75vw;
    margin-bottom: 1.0vw;
    font-size: 2vw;
    font-weight: bold;
}

.text_small {

    font-family: 'Hanken Grotesk medium';
    font-size: 1.21vw;
    width: 87%;
}

.text_number {
    font-family: 'Hanken Grotesk';
    margin-top: 4.286vw;
    font-size: 4vw;

}

.text_number_second {
    font-family: 'Hanken Grotesk';
    margin-top: 1.190vw;
    font-size: 1.238vw;
}

.summary {
    font-family: 'Hanken Grotesk';
    width: 20vw;
    margin-top: 2.952vw;
    margin-bottom: 2vw;
    font-size: 1.65vw;
    font-weight: bold;
}


.output {
    font-family: 'Hanken Grotesk';
    width: 20vw;
    height: 3.905vw;
    margin-bottom: 1.1vw;
    font-size: 1.195vw;
}


.reaction_text {
    color: #d56262;
    font-family: 'Hanken Grotesk';
}

.reaction_bg {
    background-color: #fff6f5;
}


.memory_text {
    color: #ffaa00;
    font-family: 'Hanken Grotesk';
}

.memory_bg {
    background-color: #fffbf2;
}


.verbal_text {
    color: #37a68a;
    font-family: 'Hanken Grotesk';
}

.verbal_bg {
    background-color: #f2fbfa;
}

.visual_text {
    color: #3336c1;
    font-family: 'Hanken Grotesk';
}

.visual_bg {
    background-color: #f3f3fd;
}

.icon {
    margin-right: 0.3vw;
}




.button {
    margin-bottom: 3vw;
    margin-top: auto;
    width: 20vw;
    background-color: #303b59;
    padding: 0.9vw !important;
}




@media only screen and (max-width: 600px) {
    html {
        font-size: 20px;
    }

    body {
        background-color: lightblue;
    }

    .row {
        height: 100%;
        width: 100%;
        border-radius: 3vw;
        box-shadow: 4px 4px 7px rgba(43, 31, 90, 0.555);
    }

    .first_box {
        border-radius: 3vw;

        padding: 2.3vw 3.85vw;
        background-color: #5f3ffc;

        /* width: 100%; */
        height: 45%;
    }





}